.chores--list {
  margin: 0 32px;
  min-width: 250px;
}

.chores--list-item {
  font-size: 20px;
  line-height: 28px;
  padding: 4px 0;
}

.chores--list-item:hover {
  color: #ff1c1c;
  cursor: pointer;
  font-weight: bold;
}

.chores--list-item.checked {
  color: #50bb11;
  text-decoration: line-through;
  font-weight: bold;
}
